@import "tailwindcss";
@source "../node_modules/@repo/ui";

@layer base {
  .font-regular {
    font-family: var(--font-pretendard-regular), sans-serif;
  }
  .font-medium {
    font-family: var(--font-pretendard-medium), sans-serif;
  }
  .font-semibold {
    font-family: var(--font-pretendard-semibold), sans-serif;
  }
}

@layer utilities {
  .bg-custom {
    background-size: 100% 100%;
    background-position: top;
    background-image: url("./assets/bg-mask.png");
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes skeleton {
    0% {
      background-position: 200%;
    }
    100% {
      background-position: -200%;
    }
  }

  .animate-skeleton {
    background-image: linear-gradient(
      to right,
      #d9d9d9 0%,
      #edeef1 50%,
      #d9d9d9 100%
    );
    background-size: 300% 100%;
    animation: skeleton 1.5s infinite linear;
  }
  .animate-spin {
    animation: spin 1s linear infinite;
  }
}
